<ion-header>
  <ion-toolbar>
    <ion-title>verProductos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card *ngFor="let element of Productos">
        <ion-card-header>
            <ion-card-title>
                {{element.Nombre}}
            </ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <ion-label>Descripcion</ion-label>
            {{element.Descripcion}}
            <ion-label>Categoria</ion-label>
            {{element.Categoria}}
            <ion-label>Precio</ion-label>
            {{element.Precio}}
            <ion-button shape="round" color="success" [routerLink]="['/detalles/',claves[element.Id]]" routerDirection="forward">Detalles</ion-button>
        </ion-card-content>
    </ion-card>
</ion-content>
