<ion-header>
    <ion-toolbar>
        <ion-title>
            Home
        </ion-title>
    </ion-toolbar>
</ion-header>
<!--<ion-content>
  <div class="ion-padding">

  </div>
</ion-content>-->
<ion-content>
    <ion-button shape="round" color="success" routerLink="/ver-productos/" routerDirection="forward">Ver productos</ion-button>
    <ion-button shape="round" color="success" routerLink="/insertar-producto/" routerDirection="forward">Insertar producto</ion-button>
    <ion-button shape="round" color="success" routerLink="/mis-productos/" routerDirection="forward">mis-productos</ion-button>
</ion-content>